{% extends "base.twig" %}

{% block content %}

	<section class="main list">
		
		<h1>{% trans %}All words{% endtrans %}</h1>
		<h5>{% trans with { '%total%': words|length } %}Totaling %total%{% endtrans %}</h5>

		<article class="list-words">
		{% for word in words %}

			{% if loop.first or word.firstLetter != words[loop.index0 - 1].firstLetter %}
			<h3>{{ word.firstLetter|upper }}</h3>
			{% else %}
			·
			{% endif %}
			<a href="{{ path('word', {_locale: app.locale, word: word.word}) }}">{{ word.isProper ? word.word|capitalize : word.word }} <small>({{ word.occurences }})</small></a>

		{% endfor %}
		</article>

	</section>

{% endblock %}